<div slot="content">
    <h2>
        Success!
    </h2>

    <ul class="bulleted">
        <li>Here's some slower content.</li>
        <li>It took a while to load.</li>
        <li>And didn't use any javascript.</li>
    </ul>
</div>
